# Python
*.py[cod]
*.egg*
local.py
.mypy_cache
*.djcache

# Temporary files
*.swp
*.swo
*.tmp
*~
*.todo
.vimcache
.vscode
# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
# Logs and databases
*.log
*.sql
